@import "common/_variables";
@import "common/normalize";
@import "common/reset";

html{
	height: 100%;
}
body{
	overflow-x: hidden;
	height: 100%;
}
#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
	height: 100%;
}
a {
	text-decoration: none;
	color: $text-font-color;

	&:active,
	&:hover {
		outline: 0;
	}
}

.main-body{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform ease-in-out 0.38s, visibility 0.38s;
}
.router-view{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.router-opacity{
	opacity: 1;
}
.vux-pop-reverse-enter-active,
.vux-pop-reverse-leave-active,
.vux-pop-forward-enter-active,
.vux-pop-forward-leave-active
{
	will-change: transform;
	transition: opacify 100ms, transform 500ms;
	height: 100%;
	top: 0;
	position: absolute;
	backface-visibility: hidden;
	perspective: 1000px;
}
$leave-opacity: 0;
.vux-pop-reverse-enter {
	opacity: $leave-opacity;
	transform: translate3d(-100%, 0, 0);
}

.vux-pop-reverse-leave-active {
	opacity: 1;
	transform: translate3d(100%, 0, 0);
}

.vux-pop-forward-enter {
	opacity: 1;
	transform: translate3d(100%, 0, 0);
}

.vux-pop-forward-leave-active {
	opacity: $leave-opacity;
	transform: translate3d(-100%, 0, 0);
}
.tap-active:active{
	background-color: #f1f1f1;
}
.bscroll-vertical-scrollbar{
	width: 2px !important;
}
.bscroll-indicator{
	background-color: rgba(0, 0, 0, 0.2) !important;
	border: 0 !important;
}
/*vux样式修改*/
.weui-dialog{
	border-radius: 10px !important;
	max-width: 600px !important;
}
.weui-toast{
	padding: 10px 6px;
	min-width: 60%;
	white-space: nowrap;
	width: auto !important;
}
.weui-toast.vux-toast-top{
	top: 20px !important;
}
.weui-toast.vux-toast-middle{
	margin-top: -60px;
}
.weui-toast__content{
	font-size: .28rem !important;
}
.vux-loading{
	.weui-toast{
		background: rgba(255,255,255,.1);
		color: #333;
	}
}
.vux-table td:before, .vux-table th:before{
	border-color: #dedede !important;
}
.vux-table{
	transform: translateZ(0);
}
.vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc{
	display: none;
}
.weui-cell_access {
    padding: 0 !important;
}

.vux-cell-primary {
    width: 1.5rem;
    flex: none !important;
    font-size: .28rem;
    color: #333;
}

.weui-cell_access {
    .weui-cell__ft {
        flex: 1;
        text-align: left;
        padding-right: 13px;
        position: relative;
    }

    .weui-cell__ft:after{
        content: " ";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-width: 2px 2px 0 0;
        border-color: #c8c8cd;
        border-style: solid;
        transform: matrix(.71,.71,-.71,.71,0,0);
        position: relative;
        top: -2px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 2px;
    }
}

.popup-title {
    padding: .15rem 0;
    font-size: .3rem;
    text-align: center;
}

.weui-cells_radio {
    padding: .35rem 0;

    .weui-check:checked + .weui-icon-checked:before {
        color: $main-color !important;
    }
}
/*common*/
@each $item in 5, 10, 15, 20 {
	.mr-top#{$item} {
		margin-top: #{$item}px;
	}
	.mr-left#{$item} {
		margin-left: #{$item}px;
	}
}

.lazyload {
	opacity: 0.2;
	transition: opacity .5s;
	transform: translateZ(0);
}
img[lazy=loaded],
img[lazy=error]{
	opacity: 1;
}
img[src=""]{
	opacity: 0;
}
.point{
	color: $main-color;
}
.long-btn{
	display: block;
	width: 90%;
	height: .8rem;
	margin: 0 auto;
	line-height: .8rem;
	text-align: center;
	font-size: .32rem;
	background: $main-color;
	color: #fff;
	border-radius: 4px;

	&:active{
		background: $btn-hover;
	}
}
